@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Assistant;
    src: local("Assistant"),
      url(../public/fonts/Assistant-VariableFont_wght.ttf);
    font-weight: 100 900 !important;
  }
}
@layer utilities {
  .font-thin {
    font-variation-settings: "wght" 100 !important;
  }
  .font-extralight {
    font-variation-settings: "wght" 200 !important;
  }
  .font-light {
    font-variation-settings: "wght" 300 !important;
  }
  .font-normal {
    font-variation-settings: "wght" 400 !important;
  }
  .font-medium {
    font-variation-settings: "wght" 500 !important;
  }
  .font-semibold {
    font-variation-settings: "wght" 600 !important;
  }
  .font-bold {
    font-variation-settings: "wght" 700 !important;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800 !important;
  }
  .font-black {
    font-variation-settings: "wght" 900 !important;
  }
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: url("../public/images/bg-hubhop.png");
  @apply bg-hhBG bg-cover bg-fixed bg-no-repeat text-hhText transition-all;
}
body.xplane {
  background: url("../public/images/bg-hubhop-xplane.png");
  @apply bg-hhBG bg-cover bg-fixed bg-no-repeat text-hhText transition-all;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #ffa047;
  border-radius: 10px;
}

:root {
  --toastify-color-light: #ffa047;
  --toastify-color-dark: #ffa047;
  --toastify-color-info: #ffa047;
  --toastify-color-success: #ffa047;
  --toastify-color-warning: #ffa047;
  --toastify-color-error: #ffa047;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}