@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Assistant;
    src: local("Assistant"),
      url(../public/fonts/Assistant-VariableFont_wght.ttf);
    font-weight: 100 900 !important;
  }
}
@layer utilities {
  .font-thin {
    font-variation-settings: "wght" 100 !important;
  }
  .font-extralight {
    font-variation-settings: "wght" 200 !important;
  }
  .font-light {
    font-variation-settings: "wght" 300 !important;
  }
  .font-normal {
    font-variation-settings: "wght" 400 !important;
  }
  .font-medium {
    font-variation-settings: "wght" 500 !important;
  }
  .font-semibold {
    font-variation-settings: "wght" 600 !important;
  }
  .font-bold {
    font-variation-settings: "wght" 700 !important;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800 !important;
  }
  .font-black {
    font-variation-settings: "wght" 900 !important;
  }
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: url("../public/images/bg-hubhop.png");
  @apply bg-hhBG bg-cover bg-fixed bg-no-repeat text-hhText transition-all;
}
body.xplane {
  background: url("../public/images/bg-hubhop-xplane.png");
  @apply bg-hhBG bg-cover bg-fixed bg-no-repeat text-hhText transition-all;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #ffa047;
  border-radius: 10px;
}
